*{
    margin: 0;
    box-sizing: content-box;
    
    
}

body {
    display: flex;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #000;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #999;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: #444;
}

section {
    margin-top: 110px;
}



.input-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.btn {
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
    font-weight: 700;
    background: #efefef;
    
}

.btn:hover {
    
    background: rgb(207, 107, 6);
}

.btn-edit {
    margin-right: 5px;
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}



.todos {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 10px;
}

p {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    width: 50vw;
    
    border-radius: 5px;
    background-color: #999;
    font-weight: 500; 
    transition: .5s; 

    text-overflow: clip;
    
}



.check-todo{
    margin-right: 5px;
}
p .selecionado{
    background: rgb(110, 70, 31) ;
}

.div-edit {
    position: absolute;
    background: #fff;
}
.input-edit {
    width: 35vw;
    text-overflow: clip;
    
}

@media (max-width: 700px) {

    .btn {
        border: 0px;
        border-radius: 3px;
        cursor: pointer;
        transition: .2s;
        font-weight: 700;
        background: #efefef;
        
    }

    .btn:hover {
        
        background: #efefef;
    }

    p {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        width: 50vw;
        
        border-radius: 5px;
        background-color: #999;
        font-weight: 500; 
        transition: .5s; 
    
        text-overflow: clip;
        
    }

    p:hover {
        
        background: #999;
    }
    
}